@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--white-color);
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: var(--black-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
}

section {
  height: 100vh;
}

:root {
  --primary-color: #18181a;
  --secondary-color: rgb(39 41 51);
  --text-color: #ccccc6;
  --accent-green: #075f4f;
  --accent-red: #b71d4a;
  --black-color: #000000;
  --white-color: #ffffff;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --border-radius: 10px;
  --border-red: 1px solid var(--accent-red);
  --border-green: 1px solid var(--accent-green);
  --font-small: 20px;
  --font-medium: 25px;
  --font-large: 30px;
}

.dark-mode-variables {
  --primary-color: #ccccc6;
  --secondary-color: rgb(227, 225, 218);
  --text-color: #262626;
  --accent-green: #075f4f;
  --accent-red: #b71d4a;
  --black-color: #ffffff;
  --white-color: #000000;
  --shadow-shadow: 0 0 10px rgba(265, 256, 256, 0, 4);
  --border-radius: 10px;
  --border-red: 1px solid var(--accent-red);
  --border-green: 1px solid var(--accent-green);
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 18px;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-start {
  justify-content: start;
}

.a-center {
  align-items: center;
}

.a-between {
  align-items: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.inset {
  inset: 0;
}

.z-high {
  z-index: 3;
}

.z-mid {
  z-index: 2;
}

.z-low {
  z-index: 1;
}

.pad {
  padding: 2rem;
}

.pad-inline {
  padding-inline: 2rem;
}

.pad-block {
  padding-block: 2rem;
}

.gap {
  gap: 2rem;
}

.margin {
  margin: 2rem;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

.abs-mid-y {
  top: 50%;
  transform: translateY(-50%);
}

.abs-mid-x {
  left: 50%;
  transform: translateX(-50%);
}


.font-sm {
  font-size: var(--font-small);
}

.font-md {
  font-size: var(--font-medium);
}

.font-lg {
  font-size: var(--font-large);
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: lighter;
}

.radius {
  border-radius: var(--border-radius);
}

.radius-round {
  border-radius: 50%;
}

.radius-vh {
  border-radius: 100vh;
}

.glass {
  color: transparent;
  background-color: transparent;
}

.black-bg {
  background-color: var(--black-color);
}

.white-bg {
  background-color: var(--white-color);
}

.white-clr {
  color: white;
}

.black-clr {
  color: white;
}

.green-bg {
  background-color: var(--accent-green);
}

.green-clr {
  color: var(--accent-green);
}

.red-bg {
  background-color: var(--accent-red);
}

.red-clr {
  color: var(--accent-red);
}

.border-green {
  border: var(--border-green);
}

.border-red {
  border: var(--border-red);
}

.shadow {
  box-shadow: var(--shadow);
}

.pointer {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

/* finished shortcuts  */

/* --------------------------------------------------- */

/* /starts of styles  */


/* header section starts  */
header {
  height: 6rem;
  width: 100%;
  top: 0;
  z-index: 200000000000000000;
  position: fixed;
}

header .top {
  background-color: var(--primary-color);
  height: 100%;
}

header .top img {
  width: 10rem;
  height: 6rem;
  object-fit: cover;
}

.search {
  width: 35%;
  height: 3rem;
  border-radius: 100vh;
  animation: searchIndex 5.1s forwards;
}

@keyframes searchIndex {
  100% {
    z-index: 2000000000000000000000000;
  }
}

.search input {
  border: 2px solid #272a34;
  color: var(--text-color);
  background-color: var(--primary-color);
}

.search-icon {
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--accent-green);
  height: 100%;
  border-radius: 50vh 100vh 100vh 50vh;
  width: 5rem;
}

.search-icon span {
  font-size: 30px;
}

.sign-in {
  width: 10rem;
  height: 3.3rem;
  border: 1px solid #424265;
  transition: all 0.3s cubic-bezier(0, 1.63, 1, 1);
}

.sign-in button {
  font-size: 18px;
}

.sign-in .profile {
  width: 2.9rem;
}

.sign-in:hover {
  background-color: var(--secondary-color);
  border: none;
}

.cart-count {
  top: -13px;
  font-size: 18px;
}

.search-history {
  z-index: 1000000000000000;
  height: fit-content;
  background-color: var(--primary-color);
}

.serach-history .list {
  padding-block: 1rem;
  transition: all 0.3 ease;
}

.search-history .list:hover {
  background-color: var(--secondary-color);
}

.search-overlay {
  top: 6rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: red; */
  height: 845vh;
}

/* header section ends  */


/* search result page starts*/
section#results {
  margin-top: 6rem;
}

.wrapper {
  grid-template-columns: 20rem auto 12rem;
}

.wrapper .result-items {
  max-height: calc(100vh - 6rem);
}

.wrapper .result-items .item {
  height: 15rem;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  grid-template-columns: 15rem auto;
  transition: all 0.3 ease;
  cursor: pointer;
}

.wrapper .result-items  .item img {
  width: 15rem;
  height: 15rem;
}

.wrapper .result-items .item:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.flagship-sale {
  width: 10rem;
  border-radius: 3px;
  margin-top: 0.2rem;
}

.expected-date {
  margin-top: 0.3rem;
}

/* ends of result list   */

/* -------------------------------------------- */

/* filer aside section starts  */





















/* --------------------------------  */
/* footer section  */
footer {
  height: 100vh;
}

.footer-top {
  background-color: var(--secondary-color);
  height: 65%;
}

.footer-bottom {
  height: 35%;
  background-color: var(--primary-color);
}